<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des tableaux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <h1>Les tableaux et leurs informations</h1>
    <!-- On appelle l'URL 'add' du contrôleur -->
    <a th:href="@{add}" href="formulaireTableau.html">Ajouter un tableau</a>
    <!-- On affiche un éventuel message d'erreur -->
    <h3 th:text="${message}">Message de succès ou d'erreur</h3>
    <table>
        <tr>
            <th>Titre</th>
            <th>Support</th>
            <th>Dimension</th>
            <th>Auteur</th>
            <th>Action</th>
        </tr>
        <!-- Pour chaque tableau dans la base de données, afficher les informations -->
        <tr th:each="t: ${tableaux}">
            <td th:text="${t.titre}"></td>
            <td th:text="${t.support}"></td>
            <td th:text="${t.dimension}"></td>
            <td th:text="${t.auteur}"></td>
            <td th:href="@{delete(id=${t.id})}">Supprimer le tableau</td>
        </tr>
    </table>
    <hr/>
    <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
</body>
</html>