<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un tableau</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<body>
    <h1>Ajouter un tableau</h1>
    <!-- On revient au contrôleur, avec la méthode POST -->
    <!-- th:object définit quel est l'objet édité par ce formulaire -->
    <form th:object="${tableau}" method="POST" th:action="@{save}">
        <div class="column">
            <label for="titre">Titre</label>
            <input id="titre" type="text" th:field="*{titre}" placeholder="Titre du tableau" required="required">

            <label for="support">Support</label>
            <input id="support" type="text" th:field="*{support}" placeholder="Support du tableau" required="required">

            <label for="dimension">Dimension</label>
            <input id="dimension" type="text" th:field="*{dimension}" placeholder="Hauteur x Largeur" required="required">

            <label for="auteur">Auteur</label>
            <!--<input id="auteur" type="text" th:field="*{auteur}" placeholder="Auteur du tableau">-->

            <select th:field="*{auteur}" id="auteur">
                <option value="0">Pas d'auteur</option>
                <option th:each="a : ${auteurs}"
                        th:value="${a.id}"
                        th:text="${a.nom}"/>
            </select>

            <input type="submit" value="Enregistrer" />
            <input type="reset" value="Réinitialiser" />
        </div>
    </form>
    <hr/>
    <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
</body>
</html>